@media (max-width: 768px) {
  .CALENDARIO {
    display: none !important;
  }
  /* Mantiene los botones fijos en la esquina inferior derecha */
  .calendar-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 50;
  }

  .calendar-buttons button {
    width: 38px;
    height: 38px;
    font-size: 0.9rem;
    background-color: #004400;
    color: white;
    border: none;
    border-radius: 8px;
  }

  .calendar-buttons button:hover {
    background-color: #007700;
  }
}
